<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<div th:fragment="about_us">
    <div class="about_us">
        <div class="about_us_area">
            <div class="about_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="about_all">
                                <div class="single_about">
                                    <div class="about_icon">
                                        <span class="fa fa-truck"></span>
                                    </div>
                                    <div class="about_content">
                                        <div class="about_text">Free Shipping</div>
                                        <div class="about_prgph">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend libero felis, at interdum lorem efficitur et.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about_all">
                                <div class="single_about">
                                    <div class="about_icon">
                                        <span class="fa fa-history"></span>
                                    </div>
                                    <div class="about_content">
                                        <div class="about_text">Free Shipping</div>
                                        <div class="about_prgph">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend libero felis, at interdum lorem efficitur et.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about_all">
                                <div class="single_about">
                                    <div class="about_icon">
                                        <span class="fa fa-lock"></span>
                                    </div>
                                    <div class="about_content">
                                        <div class="about_text">Free Shipping</div>
                                        <div class="about_prgph">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend libero felis, at interdum lorem efficitur et.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>