<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<div th:fragment="logo">
    <div class="logo_area">
        <div class="container">
            <div class="row">
                <div class="brand brand-2 brand-sth">
                    <div class="new_product new_product_nx new_product_nx_et ">
                        <div class="product_heading product_heading_tf">
                            <i class="fa fa-coffee"></i>
                            <span>品牌标志</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="main_brand main_brand_tf main_brand_sw">
                        <div class="all_brand indicator-brand indicator-brand-7">
                            <div class="col-md-12">
                                <div class="brand_pix">
                                    <img src="front-end/img/brand-logo/logo_1.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="brand_pix">
                                    <img src="front-end/img/brand-logo/logo_2.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="brand_pix">
                                    <img src="front-end/img/brand-logo/logo_3.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="brand_pix">
                                    <img src="front-end/img/brand-logo/logo_4.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="brand_pix">
                                    <img src="front-end/img/brand-logo/logo_5.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="brand_pix">
                                    <img src="front-end/img/brand-logo/logo_6.jpg" alt="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="brand_pix">
                                    <img src="front-end/img/brand-logo/logo_3.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>